extends layout
block content
	.container
		h1 Contact Us
		form(method='post', action='contact/send')
			label Name
			br
			input.form-control(type="text", name="name", placeholder="Your Name")
			br
			label Email
			br
			input.form-control(type="email", name="email", placeholder="Your Email")
			br
			label Message
			br
			textarea.form-control(name="message", placeholder="Enter your message...")
			br
			input.submit-btn(type="submit", value="Submit")