doctype html
html
	head
		title Greattony Express Website
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
	body
		include ./navbar.jade
		block content
