doctype html
html
	head
		title #{title} | Greattony Express Website
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.css')
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
	body
		include ./navbar.jade
		block content
		.container


		script(src="/javascripts/main.js")
