.navbar
	div.brand
		p Express Website

	div.menu
		ul
			li.menu_list
				a(href="/") Home
			li.menu_list
				a(href="/about") About Us
			li.menu_list
				a(href="/contact") Contact
	div.bar
		a(href="#" class="btn-open" id="menu-btn") 
